* {
  box-sizing: border-box;
}

html {
  font-size: 16px;
}

body {
  font-family: Arial, sans-serif;
}

h1 {
  font-size: 1.5rem;
}

li {
  list-style: none;
}

ul {
  padding-left: 0;
}

.container {
  max-width: 360px;
  margin: auto;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.button-class {
  width: 100%;
  font-size: 1rem;
  text-align: left;
  background-color: #ddd;
  cursor: pointer;
  color: black;
  margin: 4px 0;
  padding: 15px 32px;
  border: none;
  border-radius: 5px;
  transition-duration: 0.4s;
}

.button-class:hover {
  color: white;
  background-color: #464646;
  box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#modal-container {
  position: fixed;
  padding: 20px;
  box-sizing: border-box;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.3);
  z-index: 999;
  overflow: auto;
  display: none;
  text-align: center;
  border-radius: 5px;
}

.modal {
  margin: auto;
  position: relative;
  display: inline-block;
  box-sizing: border-box;
  border-radius: 5px;
  box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  background: #fff;
  padding: 10px 15px 30px;
  width: 70%;
  max-width: 500px;
  text-align: left;
}

.modal-close {
  position: absolute;
  top: 5px;
  right: 5px;
  -webkit-appearance: none;
  border: 2px;
  border-radius: 5px;
  background-color: #ddd;
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.modal-text {
  display: inline-block;
}

.modal h1 {
  margin-top: 0;
  padding-right: 10px;
}

.modal p {
  margin-bottom: 0;
}

.modal img {
  display: inline-block;
}

#modal-container.is-visible {
  display: grid;
}
